<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Korel Kashri">

    <!--Resources-->
    <!--Styles-->
    <link rel="stylesheet" href="/resources/css/materialize.css" />
    <link rel="stylesheet" href="/resources/css/primer.css" />
    <link rel="stylesheet" href="/resources/css/material-icons.css" />
    <link rel="stylesheet" href="/resources/css/alertify.core.css" />
    <link rel="stylesheet" href="/resources/css/alertify.bootstrap.css" />
    <link rel="stylesheet" href="/resources/css/fontawesome.min.css" />

    <!--Scripts-->
    <script type="text/javascript" src="/resources/js/jQuery.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/resources/js/materialize.js"></script>
    <script type="text/javascript" src="/resources/js/alertify.js"></script>
    <script type="text/javascript" src="/resources/js/moment.min.js"></script>
    <script type="text/javascript" src="/resources/js/ace/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.cookie.js"></script>

    <!--Custom-->
    <!--Styles-->
    <link rel="stylesheet" href="/css/index.css" />

    <!--Scripts-->
    <script type="text/javascript" src="/js/variables.js"></script>
    <!--TODO Use your own DB <script type="text/javascript" src="js/example_db.js"></script>-->
    <script type="text/javascript" src="/js/my_db.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
    <script type="text/javascript" src="/js/functions.js"></script>

    <title>Postman</title>
</head>
<%- include("index.html") %>